.user-form-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 18px;
    width: 100%;
    height: 55px;
}

.user-form-row input{
    font-size: 0.7rem;
    padding: 0.6em 0.8em;
}

.form-add-user .addUser-message {
    height: 13px;
    font-size: 13px;
    text-align: center;
    margin-bottom: 5px;
    margin-top: 0px;
}

.addUser-error {
    color: #d32f2f;
}

.addUser-success {
    color: #2e7d32;
}