.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-container {
    background: white;
    width: 500px;
    max-width: 90%;
    min-height: 50%;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
}


.user-list {
    max-height: 350px;
    overflow-y: auto;
}

.user-item {
    display: flex;
    gap: 8px;
    margin-bottom: 6px;
}

.actions {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.action-delete-user {
    width: 120px;
    padding: 5px;

    border: 1px solid #dcdcdc;
    border-radius: 10px;
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
    text-align: center;
    transition: 0.2s;
}

.danger {
    background-color: #c0392b;
    color: white;
}

.message-delete-user{
    padding: 0px;
    margin: 0px;
    height: 12px;
    font-size: 12px;
}

.error{
    color: #d32f2f;
}

.success{
    color: #2e7d32;
}

