.container-add-category {
    height: 90%;
    display: flex;
    flex-direction: column;
    /* o row */
    gap: 1rem;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.container-add-category h3{
    text-align: center;
}

.container-add-category form{
    width: 65%;
    display: flex;
    flex-direction: column;
    /* o row */
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

.button-add-category {
    padding: 5px 10px;
    background: #ffffff;
    border: 1px solid #dcdcdc;
    border-radius: 6px;
    font-size: 15px;
    cursor: pointer;
    transition: 0.2s;
}

.button-add-category:hover{
    background: #292a38;
    color: #ffffff;
}
