/* ===========================
   CONTENEDOR PRINCIPAL
=========================== */

.inventory-container {
    padding: 20px;
    font-family: "Segoe UI", sans-serif;
    height: 85vh;
}

.inventory-container h2 {
    font-size: 22px;
    margin: -30px -28px 20px -30px;
    color: #2c2c2c;
    background: white;
    padding: 10px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
}

/* ===========================
   HEADER: FILTROS + ACCIONES
=========================== */
.inventory-header {
    background: rgb(255, 255, 255);
    padding: 1px 10px 5px 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
}

.inventory-header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    /* ⬇️ AÑADIR */
    flex-wrap: wrap;
    gap: 12px;
}

.header {
    display: flex;
    align-items: center;
    margin: -5px 0px -5px 0px;
}

.header h3 {
    margin-left: 10px;
}

.regresar {
    background: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.25s;
}

.regresar img {
    height: 20px;
    padding: 5px 5px 0px 5px;
}

.regresar:hover {
    background: rgb(240, 240, 240);
}

/* ========== FILTROS ========== */
.inventory-filters {
    display: flex;
    align-items: center;
    gap: 12px;
}

.inventory-filters select {
    padding: 8px 12px;
    border-radius: 6px;
    border: 1px solid #d5d9e0;
    background: white;
    font-size: 13px;
    color: #333;
    cursor: pointer;
}

.button-filters {
    padding: 8px 14px;
    border-radius: 6px;
    background: #f3fbff;
    border: 1px solid #d5d9e0;
    cursor: pointer;
    font-size: 13px;
    transition: 0.2s;
}

.button-filters:hover {
    background: #e0f3fb;
}







/* ========== ACCIONES ========== */
.inventory-actions {
    display: flex;
    gap: 12px;
}

.button-actions {
    padding: 8px 14px;
    border-radius: 6px;
    background: #f3fbff;
    border: 1px solid #d5d9e0;
    cursor: pointer;
    font-size: 13px;
    transition: 0.2s;
}

.button-actions:hover {
    background: #e0f3fb;
}






/* ===========================
TABLA
=========================== */
.inventory-table {
    background: white;
    padding: 18px;
    border-radius: 8px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
}

.inventory-table table {
    width: 100%;
    border-collapse: collapse;
    min-width: 1900px;
    table-layout: fixed;
}

.inventory-table-scroll {
    overflow-x: auto;
    /* max-height: 390px;
    min-height: 390px; */
    overflow-y: auto;
    max-height: calc(85vh - 250px);
}

.inventory-table-scroll::-webkit-scrollbar {
  width: 7px;   /* vertical */
  height: 7px;  /* horizontal */
}

.inventory-table-scroll::-webkit-scrollbar-thumb {
    background-color: #cfcfcf;
    border-radius: 6px;
}

.inventory-table th {
    text-align: center;
    font-size: 13px;
    padding: 10px;
    color: #4a4a4a;
    background: #f8f9fc;
    border-bottom: 1px solid #e3e7ee;
}

/*permite que las cabeceras de la tabla no se scrolleen*/
.inventory-table thead th {
    position: sticky;
    top: 0;
    background: #f8f9fc;
    z-index: 10;
}

/* ====== TABLA ====== */
.inventory-table table {
    width: 100%;
    border-collapse: collapse;

    /* para permitir scroll horizontal */
}

.cell {
    position: relative;
}

.clamp {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    word-break: break-all;
}

.tooltip {
    position: absolute;
    top: 100%;
    left: 0;

    max-width: 300px;
    background: #41424f;
    color: #fff;
    padding: 8px;
    border-radius: 4px;

    display: none;
    z-index: 1000;

    user-select: text;
    white-space: normal;
}

.cell:hover .tooltip {
    display: block;
}

.inventory-table td {
    height: 43px;
    font-size: 11px;
    padding: 10px;
    color: #333;
    border-bottom: 1px solid #f0f0f0;
    text-align: center;
}

.estado {
    padding: 3px;
    width: 50px;
    border-radius: 6px;
    text-align: center;
    margin: auto;
}

.ubicado {
    background: rgb(169, 223, 169);
}

.perdido {
    background: rgb(237, 167, 151);
}

.traspaso {
    background: rgb(160, 211, 248);
}

.baja {
    background: rgb(211, 211, 211);
}

/* Acciones */
.button-table {
    padding: 6px 10px;
    border-radius: 6px;
    border: 1px solid #d5d9e0;
    background: #f7f7f7;
    cursor: pointer;
    font-size: 12px;
    margin-right: 5px;
}

/* Contenedor para los botones de acciones */
.acciones-buttons {
    display: flex !important;
    flex-direction: row !important;
    align-items: center;
    justify-content: center;
    /* separación entre botones */
    white-space: nowrap;
    /* evitar que hagan salto */
}

/* Evitar que los botones se expandan verticalmente */
.acciones-buttons .button-table {
    display: inline-flex;
    white-space: nowrap;
}

.button-table:hover {
    background: #ececec;
}

/* ===========================
PAGINACIÓN
=========================== */
.pagination {
    margin-top: 12px;
    display: flex;
    gap: 6px;
    justify-content: flex-start;

    overflow-x: auto;
        max-width: 100%;
        padding-bottom: 6px;
}

.pagination::-webkit-scrollbar {
    height: 6px;
}

.pagination::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 4px;
}

.button-pagination {
    padding: 6px 12px;
    border-radius: 6px;
    border: 1px solid #d5d9e0;
    background: #f7f7f7;
    font-size: 12px;
    transition: 0.2s;
}

.pagination .enable {
    cursor: pointer;
}

.pagination .enable:hover {
    background: #d3ecf4;
}

.pagination .active {
    transform: scale(1.2);
    background: #38a6bf;
    color: white;
}

.pagination .active:hover {
    background: #3db6d1;
}


/*Inventory search*/
.inventory-search {
    flex: 1;
    display: flex;
    justify-content: center;
    min-width: 280px;
}

.inventory-search input {
    width: 100%;
    max-width: 500px;
    padding: 8px 12px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 14px;
}


/* Estilos para pantallas de 820px de ancho o menos */
/* @media (max-width: 1024px) {
    .inventory-table-scroll {
        max-height: 900px;
        min-height: 900px;
    }
}

@media (max-width: 820px) {
    .inventory-table-scroll {
        max-height: 700px;
        min-height: 700px;
    }
}

@media (max-width: 768px) {
    .inventory-header-content {
        flex-direction: column;
        align-items: stretch;
    }

    .inventory-search {
        width: 100%;
        justify-content: stretch;
    }

    .inventory-search input {
        max-width: 100%;
    }

    .inventory-table-scroll {
        max-height: 500px;
        min-height: 500px;
    }
} */