/* Fondo oscuro semitransparente */
.modal-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.35);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

/* Tarjeta del modal */
.modal-card {
    background: white;
    width: 90%;
    max-width: 750px;

    max-height: 90vh;
    /* límite para no salirse de pantalla */
    overflow-y: auto;
    /* scroll interno si el contenido crece */
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    /* transform: scale(0.9);       //Escala todo a 90% 
    transform-origin: top center;  //Punto desde donde se escala  */
}

/* Título */
.modal-card h3 {
    font-size: 20px;
    font-weight: 600;
    
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
}

/* Filas de inputs */
.modal-form .row {
    display: flex;
    gap: 20px;
    margin-bottom: 15px;
}

.modal-form input,
.modal-form select,
.modal-form textarea {
    width: 100%;
    padding: 9px 14px;
    border: 1px solid #dcdcdc;
    border-radius: 6px;
    font-size: 13px;
}

.modal-form label {
    width: 100%;
    font-size: 12px;
    color: #7e7e7e;
    margin-bottom: -10px;
}

.modal-form .error{
    border: 1px solid red;
}

.modal-form textarea {
    max-width: 96%;
    min-height: 55px;
    resize: none;
}

.actions {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    margin-top: 25px;
}

.actions button {
    padding: 7px 18px;
    border-radius: 6px;
    font-size: 14px;
    cursor: pointer;
    border: none;
}

.actions button:first-child {
    background: #e5e5e5;
}

.actions button:last-child {
    background: #111827;
    color: white;
}

/* Cuando la pantalla sea menor a 600px */

/* @media (max-width: 1024px) {
    .modal-card {
        height: 52%;
    }
}

@media (max-width: 836px) {
    .modal-card {
        height: 90%;
    }
}

@media (max-width: 820px) {
    .modal-card {
        height: 60%;
    }
}

@media (max-width: 768px) {
    .modal-card {
        height: 69%;
    }
} */
