.nav-container {
    font-family: "Segoe UI", sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background: #ffffff;
    color: #2c2c2c;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
}

.nav-title{
    margin: 0;
    font-size: 1.25rem;
    color: rgb(110, 121, 140);
}
   
.button-logout {
    display: flex;
    align-items: center;
    background: #ffffff;
    color: #3d3838;
    border: 1px solid #c7c3c3;
    padding: 0.2rem 0.5rem;
    border-radius: 7px;
    cursor: pointer;
    font-size: .7rem;
} 

@media (max-width: 820px) {
    .nav-title{
        font-size: 1.1rem;
    }

    .button-logout{
        font-size: 0.7rem;
    } 

    .button-logout img{
        height: 17px;
    } 
}

@media (max-width: 768px) {
    .nav-title{
        font-size: 1rem;
    }

    .button-logout{
        font-size: 0.7rem;
    } 

    .button-logout img{
        height: 17px;
    } 
}


