.reset-page {
    height: 98vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Inter", sans-serif;
}

/* ============================
   TARJETA
=============================== */
.reset-card {
    width: 460px;
    padding: 40px 45px;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* TITULO */
.reset-title {
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 6px;
}

/* SUBTITULO */
.reset-subtitle {
    color: #6d6d80;
    margin-bottom: 32px;
    text-align: center;
}

.reset-form {
    width: 80%;
    height: 50vh;
    box-shadow: 0 20px 45px rgba(0, 0, 0, 0.2);
    padding: 30px 50px 30px 40px;
    border-radius: 24px;
    background: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
}

.reset-message {
    margin: 0px 0px 20px 0px;
    font-size: 13px;
    text-align: center;
    height: 20px;
}

.reset-success {
    color: #2e7d32;
}

.reset-error {
    color: #d32f2f;
}

.reset-btn {
    width: 100%;
    margin-top: 10px;
    padding: 8px;

    border: none;
    border-radius: 10px;
    background: #6d4afe;
    color: white;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;

    transition: 0.2s;
}

.reset-btn:hover {
    background: #5b3df8;
}

.reset-btn:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}